# Handle MIDI file converted to CSV
*Uses MIDICSV/CSVMIDI linux program through bash*

In [3]:
import pandas as pd
import os

*I want to extract the main melody voice or melodic line*<br>Example for 1 file

In [4]:
pathstr = './csv/'
filename = 'songs1.csv'

header_names = [
    'track',
    'time',
    'title',
    'text',
    'note',
    'velocity']
data = pd.read_csv(
    '{}{}'.format(pathstr, filename),
    names=header_names,
    encoding = 'ISO-8859-1')
data.head(4)

   track  time         title                            text note  velocity
0      0     0        Header                               1    8     480.0
1      1     0   Start_track                             NaN  NaN       NaN
2      1     0       Title_t      "A Luis Emilio Recabarren"  NaN       NaN
3      1     0   Copyright_t   "Secuencia Midi por Maikel B"  NaN       NaN

Create DataFrame array. One per track.

In [12]:
tracks_df = []
tracks_df[5] = 3
for n_row in range(len(data)):
    None
data['title'][3]

IndexError: list assignment index out of range

In [32]:
dummydf

Empty DataFrame
Columns: [track, time, title, text, note, velocity]
Index: []